<!--include is used to embed one template inside another.-->
<!-- Always create the includes folder inside the views folder -->
<!-- Include is a sub-template that can be included in multiple templates to avoid redundancy-->
<%- include("includes/head.ejs")%>  <!-- Don't use Forwards slash at the beginning of includes directory than it will not work-->
<body>
<h2>This page belongs to @<%= data.name %></h2>
<button>Follow</button>
<button>Message</button>

<p>Follower : <%= data.followers %> &nbsp;&nbsp;&nbsp;&nbsp; Following: <%= data.following %></p>
<hr>

<% for (let post of data.posts) { %>
<img src="<%= post.image %>" alt="some image">
<p>
    likes: <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp; comments: <%= post.comments %>
</p>
<% } %>

<script src="/app.js"></script>
</body>
</html>